* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --color-white: #FAFAFA;
    --color-slate: #87879D;
    --color-lightslate: #D1D1DF;
    --color-darkslate: #28283D;
    --color-cyan: #4D96A9;
    --color-purple: #855FB1;
    --color-lightcyan: #8FE3F9;
    --color-lightpurple: #D9B8FF;

    font-size: 16px;

}

.white {
    background-color: var(--color-white);
}

.navbar {
    display: flex;
    padding: 5rem 5rem 0 5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-100, .5rem);
    align-self: stretch;

}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem;
    height: auto;
    width: 100%;
}

.left-faces {
    padding-right: 95px;
    padding-bottom: 57px;
}

.right-faces {
    padding-left: 95px;
    padding-top: 57px;
}

.resopnsive-image {
    display: none;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 448px;
    height: 314px;

}

.hero-content h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
    color: var(--color-darkslate);
    text-align: center;
}

.hero-content p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-slate);
    text-align: center;
    
}

.hero-btn {
    padding: 16px 40px;
    border-radius: 29px;
    border: none;

}

#downloadBtn {
    background-color: var(--color-cyan);
    color: var(--color-white);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 150%;
    margin-right: 8.5px;
}

#downloadBtn span {
    margin-left: 4px;
    color: var(--color-lightcyan);

}

#whatisitBtn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 150%;
    margin-left: 8.5px;
}

.main-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 883px;
    padding: 56px 80px 72px 80px;   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 755px;
}

.design-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.gray-line {
    width: 1px; 
    height: 80px;
    background-color:  var(--color-lightslate);
    z-index: 5;
}

.gray-circle {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-lightslate);
    color: var(--color-slate);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 150%;
    z-index: 5;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.image-container img {
    width: 256px;
    height: auto;
}

.text-container {
    width: 500px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-container h3 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color-cyan);
}

.text-container h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    text-align: center;
    color: var(--color-darkslate);
}

.text-container p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: var(--color-slate)
}


.footer {
    padding: 7rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/images/image-footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -1.5rem;
    position: relative;
    z-index: 0;
}

.footer-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 70rem;
    gap: 32px;
    z-index: 2;
    
}

.footer-grid h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 110%;
    color: var(--color-white);
    width: 27rem;
}

.footer-grid p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-white);
    width: 22rem;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(192, 37%, 48%, 0.85); /* Adjust the color and opacity as needed */
    z-index: 1;
}

.footer-span {
    color: var(--color-lightpurple)
}


@media screen and (min-width: 768px) {
    .hero-images {
        
    }


}